// fonts
.fp {font-family: 'Open Sans',sans-serif;} // font primary
.fh {font-family: 'Khand',sans-serif;} // font header
.fi {font-family: 'icons',sans-serif;} // font icon

// body
@bb: #fff; // body background

// colors
@c1: #000000;
@c2: #ff0000;
@c3: #a80081;
@c4: #008f74;
@c5: #8fbf00;

@cp: @c1; // color primary
@cl: @c2; // color link
.text-success {
	color: @c5;
}
.text-danger {
	color: @c2;
}
.text-info {
	color: @c3;
}

// font sizes
@fsp: 15px; // font size primary

// line heights
@lhh: 1.2; // line height header
@lhp: 1.5; // line height primary

// form
@input-size: 15px;
@input-height: 38px;
@input-padding: 15px;
@input-border: #b3b3b3;
@input-bg: #fff;

// layout
@content-width: 1540px;
@content-width-lg: 1160px;
@content-width-md: 960px;
@content-width-sm: 740px;
@content-width-xs: 100%;
@content-padding: 20px;

// media query >>> @media @xs, @sm
@xlg: ~"(min-width: 1600px)";
@lg: ~"(min-width: 1200px) and (max-width: 1599px)";
@md: ~"(min-width: 990px) and (max-width: 1199px)";
@sm: ~"(min-width: 770px) and (max-width: 989px)";
@xs: ~"(max-width: 769px)";
@xxs: ~"(max-width: 479px)";